.imagecontour {
 padding: 10px; 
 border: solid 1px #EFEFEF;
 background-color: #FFFFFF;
 }
 
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.wrapper {
  display: inline-block;
      margin-bottom: -30px;
}
.wrapper * {
  float: left;
}
.wrapper input {
  display: none;
}
.wrapper label {
  font-size: 30px;
}

.wrapper input:checked ~ label {
  color: #eb5d68;
}

.wrapper label:hover,
.wrapper label:hover ~ label {
  color: #eb5d68;
}


.wrapper .em
	{
		padding-top: 7px;
		width: 50px;
		float: right;
	}
	
	